* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: lato, sans-serif;
  scroll-behavior: smooth;
}

/* Hero section */

.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../img/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  height: 100vh;
  padding-top: 80px;
}

.logo {
  width: 680px;
  height: 465px;
}

h2 {
  color: #ffffff;
  font-family: tomorrow;
  text-transform: uppercase;
  padding: 30px 0 40px 0;
}

.start-button,
.start-button:focus,
.start-button:visited {
  background-color: #17c3f6;
  border-color: #17c3f6;
  border: 1px solid #17c3f6;
  color: #ffffff;
  font-family: tomorrow;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  padding: 10px 40px;
  transition: 0.5s ease-in-out;
}

.start-button:hover {
  box-shadow: 0px 0px 40px #17c3f6;
}

/* About section */

h1 {
  color: #000000;
  font-family: tomorrow;
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 80px;
  margin-bottom: 60px;
}

.van {
  width: 100%;
}

.text-box {
  font-family: tomorrow;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 150px;
  margin-inline-end: 150px;
}

.text-box span {
  font-weight: 500;
}

/* Features section */

.features {
  text-align: center;
  font-weight: 300;
  padding: 40px 0;
}

.features p,
.features i,
.features h3 {
  margin-bottom: 15px;
}

h3 {
  color: #000000;
  font-size: 22px;
  font-family: tomorrow;
  text-transform: uppercase;
}

.feature-container {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
  padding-bottom: 20px;
}

.feature-item {
  flex: 1;
  width: 32%;
  padding: 0 40px;
}

.fa-gamepad {
  color: #17c3f6;
}

.fa-birthday-cake {
  color: #ff465f;
}

.fa-map {
  color: #1cb58a;
}

/* Gallery section */

.gallery {
  text-align: center;
  padding: 20px 0;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  margin: 5px;
  transition: all 0.2s;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Team Section */

.owners {
  padding-bottom: 100px;
}

.team-title {
  font-size: 28px;
  margin-bottom: 8px;
}

.team-bio {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 8px;
}

.members ul {
  font-size: 15px;
  font-weight: 300;
}

.owners li {
  list-style-type: none;
}

.members span {
  font-weight: bold;
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit {
  display: inherit;
  align-items: center;
}

.more {
  display: inherit;
  flex-direction: column;
  margin-left: 15px;
}

.more2 {
  text-align: right;
  margin-right: 15px;
}

.unit img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.unit:nth-child(1) {
  flex-direction: row;
}

.unit:nth-child(2) {
  flex-direction: row-reverse;
}

/* Footer section */

.footer {
  background-color: #f2f2f2;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-logo {
  width: 300px;
  height: 205px;
  margin: 25px 0;
}

.footer p {
  padding: 15px;
}

.booking {
  font-size: 20px;
}

.contact {
  display: inline-flex;
  align-items: center;
}

.copyright {
  font-weight: 300;
}

.copyright a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.footer-social .fab {
  color: #fff;
  font-size: 20px;
  text-align: center;
  align-items: right;
  padding: 10px;
  margin: 20px 5px;
  width: 40px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.footer-social .fab:hover {
  transform: scale(1.2);
}

.fa-footer-f {
  background-color: #395598;
}

.fa-footer-t {
  background-color: #1d9eeb;
}

.fa-footer-i {
  background-color: #c8245d;
}

/********************************** Media Queries **********************************/




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    width: 400px;
    height: 274px;
  }

  h1 {
    font-size: 30px;
  }

  .text-box {
    font-size: 20px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }

  .feature-container {
    display: block;
  }

  .feature-item {
    width: 100%;
  }

  .contact {
    display: block;
    align-items: center;
  }

  .footer p {
    padding: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    width: 300px;
    height: 205px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 17px;
  }

  .text-box {
    font-size: 13px;
  }

  .gallery img {
    width: 80%;
  }

  .features p,
  .members p,
  .footer p {
    font-size: 14px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo {
    width: 500px;
    height: 342px;
  }

  h1 {
    font-size: 38px;
  }

  .text-box {
    font-size: 23px;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo {
    width: 600px;
    height: 410px;
  }

  h1 {
    font-size: 42px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo {
    width: 680px;
    height: 465px;
  }

  h1 {
    font-size: 50px;
  }
}