* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: lato, sans-serif;
  scroll-behavior: smooth;
}

.nav {
  background-color: #fff;
  position: fixed;
  padding: 70px 50px;
  width: 100%;
  display: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav-toggle {
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #000000;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  text-align: right;
}

.nav-list li {
  margin-bottom: 5px;
}

.nav-content {
  float: right;
}

.nav-links {
  color: #000000;
  font-family: tomorrow;
  font-size: 25px;
  text-decoration: none;
}

.nav-links:hover {
  color: #333333;
}

.nav-social .fab {
  color: #fff;
  font-size: 20px;
  text-align: center;
  align-items: right;
  padding: 10px;
  margin: 12px 0 0 5px;
  width: 40px;
  border-radius: 50%;
}

.nav-social .fab:hover {
  color: #fff;
}

.fa-nav-f {
  background-color: #395598;
}

.fa-nav-t {
  background-color: #1d9eeb;
}

.fa-nav-i {
  background-color: #c8245d;
}

h1 {
  color: #000000;
  font-family: tomorrow;
  font-size: 40px;
  text-transform: uppercase;
  padding: 30px 0;
}

h2 {
  color: #ffffff;
  font-family: tomorrow;
  text-transform: uppercase;
  padding: 30px 0 40px 0;
}

h3 {
  color: #000000;
  font-family: tomorrow;
  font-size: 21px;
  text-transform: uppercase;
}

#header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../img/nintendo-switch-joycons.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  height: 100vh;
  padding-top: 100px;
}

.start-button,
.start-button:focus,
.start-button:visited {
  background-color: #17c3f6;
  border-color: #17c3f6;
  border: 1px solid #17c3f6;
  color: #ffffff;
  font-family: tomorrow;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  padding: 10px 40px;
  transition: 0.5s ease-in-out;
}

.start-button:hover {
  box-shadow: 0px 0px 40px #17c3f6;
}

#about {
  text-align: center;
  padding: 30px 0 30px 0;
}

#about p,
#about i,
#about h3 {
  margin-bottom: 15px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.flex-item {
  flex: 1;
  width: 32%;
  padding: 0 40px 0 40px;
}

.fa-gamepad {
  color: #17c3f6;
}

.fa-birthday-cake {
  color: #ff465f;
}

.fa-map {
  color: #1cb58a;
}

#gallery {
  text-align: center;
  padding: 30px 0 30px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery img {
  margin: 5px;
  transition: all 1s;
}

#gallery img:hover {
  transform: scale(1.1);
}

#team {
  text-align: center;
}

#team img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 30px 0;
}

#team ul {
  width: 50%;
  margin: 0 auto;
}

#team li {
  list-style-type: none;
  text-align: left;
  padding-bottom: 5px;
}

#team span {
  font-weight: bold;
}

#footer {
  background-color: #0c1a31;
  color: #ffffff;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#footer p {
  padding: 25px;
}

.email {
  font-size: 20px;
}

.email a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

.footer-social .fab {
  background-color: #ffffff;
  color: #000000;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  width: 50px;
  margin: 5px 12px;
  border-radius: 50%;
}

.fa-facebook-f:hover {
  color: #395598;
}

.fa-twitter:hover {
  color: #1d9eeb;
}

.fa-instagram:hover {
  color: #c8245d;
}

/********************************** Media Queries **********************************/

@media (max-width: 576px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 15px;
  }

  .flex-container {
    display: block;
  }

  .flex-item {
    width: 100%;
  }

  #gallery img {
    width: 100%;
  }

  #team img {
    width: 200px;
    height: 200px;
  }

  #team ul {
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
  }

  .email {
    font-size: 16px;
  }

  #footer p {
    font-size: 14px;
  }

  .logo {
    width: 250px;
    height: 172px;
  }
}

@media (max-width: 780px) {
  .flex-item {
    font-size: 14px;
  }

  #gallery img {
    width: 100%;
  }

  #team img {
    width: 200px;
    height: 200px;
  }

  #team ul {
    width: 100%;
    padding: none;
    margin: 0 auto;
    padding: 0 40px;
  }
}